/**
 * Hides game review scores and comments.
 * For automatic updates, install from: http://userstyles.org/styles/78871/hide-game-review-scores-comments
 * Submit changes by editing: https://github.com/insin/greasemonkey/blob/master/hide-review-scores.user.css
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("metacritic.com") {
  html:before { position: absolute; top: 40%; left: 0; right: 0; text-align: center; border-top: 2px solid #000; border-bottom: 2px solid #000; padding: 1em 0; content: "Clementine will remember this..."; font-size: 46px;}
  body { display: none !important; }
}

@-moz-document domain("eurogamer.net") {
  /* Article listings */
  a.comment-count { display: none !important; }
  /* Review pages */
  section.conclusion,
  a.scoring-policy,
  p.comment-count,
  #reply-box,
  #new-comments { display: none !important; }
  /* Game DB listings */
  a[href="games?order=score"],
  span.score { display: none !important; }
}

@-moz-document domain("edge-online.com") {
  /* Review pages */
  a.post-header-comment,
  #verdictBox,
  #comment-window { display: none !important; }
  /* Listing pages */
  th.score, td.score { display: none !important; }
}

@-moz-document domain("rockpapershotgun.com") {
  /* ✔ */
}

@-moz-document domain("giantbomb.com") {
  /* Review pages */
  img.score.rating,
  span.score,
  td.score,
  span.avg,
  div.comment-links,
  td.leaderboard { display: none !important; }
  /* Header dropdowns */
  .release-review img[src*="generic/astar"] { display: none !important; }
}

@-moz-document domain("polygon.com") {
  a.review_score,
  div.review_score,
  div.review_scores,
  em.score { display: none !important; }
  div.polygon-comments-with-sidebar-comments,
  a.comment_count,
  #homepage_hero .meta .header small,
  a[href^="/search?type=Comment"] { display: none !important; }
}

@-moz-document domain("joystiq.com") {
  div img[src$="stars.jpg"] { display: none !important; }
  div.comment-count,
  #lf_comment_stream { display: none !important; }
}

@-moz-document domain("gamespot.com") {
  div.metaDataMainReview,
  div.reviewScores,
  div.reviewScoreSummaryModule,
  span.gameScoreContainer,
  span.gameScore,
  td.score a,
  div.reviewScore,
  div.score,
  /* One aggressive body-scrub */
  li.metaDataReview { display: none !important; }
  #livefyre,
  #powered_by_livefyre,
  span.livefyre-commentcount,
  .story_stats a.icon { display: none !important; }
}

@-moz-document domain("1up.com") {
  img[src*="/reviewratings/"],
  #featuresIndex td.aligncenter,
  #game1upReviews div h4,
  #gameUserReviews div h4,
  #gameInfo div.section h4 { display: none !important; }
  #my1upcontent,
  #userComment,
  td.countComment,
  span.countComment { display: none !important; }
}
